@import "../css/vars.scss";

.message-box {
  width: 246px;
  height: auto;
  padding: 12px 16px;
  border-radius: 4px;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15));
  background-color: $white;
  position: absolute;
  left: 83px; //78px;
  top: 0;
  z-index: 10000;

  &_transition {
    transition: 1s;
  }

  &-center {
    left: 50%;
    top: 30%;
    margin-left: -123px;
  }

  &::before,
  &::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    position: absolute;
    top: 9px;
    z-index: 100;
  }
  &::before {
    border-right: 6px solid $white;
    left: -5px;
  }
  &::after {
    border-left: 6px solid $white;
    right: -5px;
  }

  &-left::before {
    display: none;
  }
  &-right::after {
    display: none;
  }

  &__text {
    white-space: normal;
    @include font("Roboto", $font-style, 400, 14px, 22px, "");
    color: $gray;
    padding-left: 23px;
    padding-bottom: 12px;
    white-space: pre-line;

    &_confirm {
      background: url(../css/img/warning.png) no-repeat left 4px;
    }

    &_error {
      background: url(../css/img/error.png) no-repeat left 4px;
      color: $red;
    }
    
    &_success  {
      background: url(../css/img/success.png) no-repeat left 4px;
    }
  }

  &-buttons {
    text-align: right;
  }

  &__button-no,
  &__button-yes {
    padding: 1px 8px;
    @include font("Roboto", $font-style, 400, 14px, 22px, "");
  }

  &__button-yes {
    margin-left: 8px;
  }
}
