@import "../css/vars.scss";

.page {
  width: 384px;
  padding: 32px 48px;
  background-color: $white;
  margin-top: 46px;
  margin-bottom: 46px;

  border: 1px solid $field-border-color;
  box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
    0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
    0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;

  .title {
    @include font("Roboto", $font-style, 500, 20px, 28px, "");
    font-weight: 500;
    text-align: center;
  }

  LABEL {
    display: block;
    font-size: 14px;
    line-height: 22px;
    color: $label-color;
    margin-bottom: 12px;

    &.value-error {
      INPUT {
        border-color: $red;
        outline-color: $red;
        &:focus {
          border: 1px solid $red;
          outline: 1px solid $red;
        }
      }
      SPAN {
        font-size: 12px;
        line-height: 1.0;
        color: $red;
      }
    }
  }

  INPUT {
    border: 1px solid $field-border-color;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    //margin-bottom: 12px;

    &::placeholde {
      color: $placeholde-color;
    }

    &[type="checkbox"] {
      width: 16px;
      height: 16px;
      position: absolute;
      z-index: -1;
      opacity: 0;

      &:checked + .checkbox::before {
        border-color: $blue;
        background: url(../css/img/check.png) no-repeat center $blue;
      }
    }
  }

  .checkbox {
    display: inline;
    color: $gray;
    padding-left: 30px;
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      top: -3px;
      border: 1px solid $field-border-color;
      border-radius: 2px;
    }
  }

  HR {
    width: 100%;
    height: 0;
    border: 1px solid #e8e8e8;
    margin-top: 15px;
    margin-bottom: 11px;
  }

  .signin {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 21px;

    SPAN {
      font-size: 12px;
      line-height: 20px;
      color: #8c8c8c;
      A {
        color: $blue;
        text-decoration: none;
      }
    }
  }
}
